<div class="row">
    <div class="col-md-6">
        <ul class="burger-list">
            {{#each burgers}}
            {{#unless devoured}}
            <li class="burger">{{id}}. {{burger_name}}
                <button class="devour-button float-right btn btn-primary" id="devour-button"
                    data-id="{{id}}" data-newdevour="{{devoured}}">Devour</button>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-md-6">
        <ul class="burger-list">
            {{#each burgers}}
            {{#if devoured}}
            <li class="burger devoured">
                {{id}} {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="/api/addburger" method="POST">
                    <input type="text" class="form-control" name="burger_name" id="enter-text">
                    <button type="submit" class="btn btn-primary" id="burger-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>